.stckbdy{
    height:650px;
    float:center;
    margin:auto;
    background:#1C1D1E;
    border:none;
    color:#fff;
}
.stckbdy h1{
    text-align:center;
}
.firstclass{
            float:center;
            margin:auto;
            height:200px;
            width:400px;
            border-radius:50px 50px; 
            background:#FE714B;
            }
.secondclass{
                float:center;
                margin:auto;
                margin-top:10px;
                padding-top:30px;
                padding:25px;
                background:#C8CCCF;
                color:#000;
                height:200px;
                width:500px;
                border:none;
                border-radius:20px 20px;
}
.inpts{
    margin-left:45px;
    margin-top:30px;
    width:250px;
    height:50px;
    border:none;
    text-align: center;
    border-radius:50px 50px;
    background:#E7F0F1;
}
.btns{
    float:center;
    margin:auto;
    margin-top:10px;
    margin-left:85px;
    border:none;
    height:30px;width:65px;
    background:#5A5A59;
    border-radius:5px 5px;
    color:#fff;

}
.btns1{
    border:none;
    height:30px;width:65px;
    background:#5A5A59;
    border-radius:5px 5px;
    color:#fff;

}
.indxr{
    float:right;
    background:#FBFCFC;
    border-radius:50px 50px;
    height:100px;
    width:100px;
    border:2px solid #3F3F3F;
    text-align:center;
    color:#000;
    margin:auto;
}